// banner
@media only screen and (min-width: 320px) and (max-width: 400px)
  .banner
    position: relative
    width: 100%
    .cust-navbar
      position: absolute
      top: 30px
      left: 0px
      right: 0px
      color: $color3
      .logo
        float: left
        a
          font-size: 20px
          font-family: 'Titillium Web', sans-serif
          font-weight: 300
          color: $color3
          text-decoration: none
      .menu-list-right
        float: right
        margin-top: 6px
        a
          margin-right: 15px
          font-size: 16px
          color: $color3
          text-decoration: none
        .menu-btn
          padding: 7px 20px 7px 20px
          background: $color3
          color: $color2
          font-size: 16px
          font-weight: 700
          border-radius: 30px
    .banner-img
      width: 100%
      height: 300px
    .wrapper-banner
      position: absolute
      width: 80%
      top: 60px
      margin-left: 10px
      .content
        color: $color3
        h1
          font-size: 16px
        p
          font-size: 10px

@media only screen and (min-width: 414px)
  .banner
    position: relative
    width: 100%
    .cust-navbar
      position: absolute
      top: 20px
      left: 0px
      right: 0px
      color: $color3
      .logo
        float: left
        a
          font-size: 20px
          font-family: 'Titillium Web', sans-serif
          font-weight: 300
          color: $color3
          text-decoration: none
      .menu-list-right
        float: right
        margin-top: 6px
        a
          margin-right: 15px
          font-size: 16px
          color: $color3
          text-decoration: none
        .menu-btn
          padding: 7px 20px 7px 20px
          background: $color3
          color: $color2
          font-size: 16px
          font-weight: 700
          border-radius: 30px
    .banner-img
      width: 100%
      height: 270px
    .wrapper-banner
      position: absolute
      width: 80%
      top: 60px
      margin-left: 10px
      .content
        color: $color3
        h1
          font-size: 16px
        p
          font-size: 10px

@media only screen and (min-width: 414px)
  .banner
    position: relative
    width: 100%
    .cust-navbar
      position: absolute
      top: 20px
      left: 0px
      right: 0px
      color: $color3
      .logo
        float: left
        a
          font-size: 20px
          font-family: 'Titillium Web', sans-serif
          font-weight: 300
          color: $color3
          text-decoration: none
      .menu-list-right
        float: right
        margin-top: 6px
        a
          margin-right: 15px
          font-size: 16px
          color: $color3
          text-decoration: none
        .menu-btn
          padding: 7px 20px 7px 20px
          background: $color3
          color: $color2
          font-size: 16px
          font-weight: 700
          border-radius: 30px
    .banner-img
      width: 100%
      height: 320px
    .wrapper-banner
      position: absolute
      width: 80%
      top: 75px
      margin-left: 10px
      .content
        color: $color3
        h1
          font-size: 20px
        p
          font-size: 16px

@media only screen and (min-width: 1200px)
  .banner
    position: relative
    width: 100%
    .cust-navbar
      position: absolute
      top: 50px
      left: 20px
      right: 20px
      color: $color3
      .logo
        float: left
        a
          font-size: 30px
          font-family: 'Titillium Web', sans-serif
          font-weight: 300
          color: $color3
          text-decoration: none
      .menu-list-right
        float: right
        margin-top: 15px
        a
          margin-right: 15px
          font-size: 16px
          color: $color3
          text-decoration: none
        .menu-btn
          padding: 7px 20px 7px 20px
          background: $color3
          color: $color2
          font-size: 16px
          font-weight: 700
          border-radius: 30px
    .banner-img
      width: 100%
      height: 630px
    .wrapper-banner
      position: absolute
      width: 50%
      top: 180px
      margin-left: 30px
      .content
        color: $color3