// button
@media only screen and (min-width: 320px)
  .cust-btn-default
    padding: 7px 12px
    font-size: 10px
    background: $color3
    color: $color2
    font-weight: 700
    text-decoration: none
    border-radius: 30px
    &:hover
      text-decoration: none

  .cust-btn-primary
    padding: 7px 12px
    font-size: 10px
    background: $color2
    color: $color3
    font-weight: 700
    text-decoration: none
    border-radius: 30px
    &:hover
      text-decoration: none
      color: $color3

@media only screen and (min-width: 1200px)
  .cust-btn-default
    padding: 7px 15px
    font-size: 16px
    background: $color3
    color: $color2
    font-weight: 700
    text-decoration: none
    border-radius: 30px
    &:hover
      text-decoration: none

  .cust-btn-primary
    padding: 7px 15px
    font-size: 16px
    background: $color2
    color: $color3
    font-weight: 700
    text-decoration: none
    border-radius: 30px
    &:hover
      text-decoration: none
      color: $color3