// footer
@media only screen and (min-width: 320px) and (max-width: 768px)
  .footer
    position: relative
    width: 100%
    background: $color7
    padding: 20px 20px 60px 20px
    .footer-logo
      font-size: 16px
      color: $color1
      &:hover
        text-decoration: none
        color: $color1
    .footer-title
      font-size: 16px
      font-weight: 700
      margin-bottom: 3px
      color: $color1
      &:hover
        text-decoration: none
        color: $color1
    .footer-ul
      list-style: none
      margin-left: -40px
      li
        margin-bottom: 2px
        a
          font-size: 14px
          color: $color2
          text-decoration: none
          &:hover
            text-decoration: none
    .copyright
      position: absolute
      font-size: 10px
      color: $color6
      bottom: 0
      left: 30px
      right: 30px

@media only screen and (min-width: 1200px)
  .footer
    position: relative
    width: 100%
    background: $color7
    padding: 20px 20px 100px 20px
    .footer-logo
      font-size: 19px
      color: $color1
      &:hover
        text-decoration: none
        color: $color1
    .footer-title
      font-size: 19px
      font-weight: 700
      color: $color1
      &:hover
        text-decoration: none
        color: $color1
    .footer-ul
      list-style: none
      margin-left: -40px
      li
        margin-bottom: 8px
        a
          color: $color2
          text-decoration: none
          &:hover
            text-decoration: none
    .copyright
      position: absolute
      font-size: 12px
      color: $color6
      bottom: 0
      left: 30px
      right: 30px