// helper
.text-color1
  color: $color1
.text-color2
  color: $color2
.text-color3
  color: $color3
.text-color4
  color: $color4
.text-color5
  color: $color5
.text-color6
  color: $color6
.text-color7
  color: $color7
.text-color8
  color: $color8
.text-color9
  color: $color9

.show
  display: block !important

.hidden
  display: none !important

.invisible
  visibility: hidden

.bg-gradient
  background: #000428  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428)  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.logo-content
  font-family: 'Titillium Web', sans-serif
  font-weight: 300

.shadow
  -webkit-box-shadow: 0px 5px 22px 2px rgba(0,0,0,0.5)
  -moz-box-shadow: 0px 5px 22px 2px rgba(0,0,0,0.5)
  box-shadow: 0px 5px 22px 2px rgba(0,0,0,0.5)

@media only screen and (min-width: 320px)
  .hidden-on-xs
    display: none !important
  .show-on-xs
    display: block !important

@media only screen and (min-width: 768px)
  .hidden-on-sm
    display: none !important
  .show-on-sm
    display: block !important

@media only screen and (min-width: 992px)
  .hidden-on-md
    display: none !important
  .show-on-md
    display: block !important

@media only screen and (min-width: 1200px)
  .hidden-on-lg
    display: none !important
  .show-on-lg
    display: block !important