// section two
@media only screen and (min-width: 320px)
  .section-bg
    position: relative
    background: #000428  // fallback for old browsers
    background: -webkit-linear-gradient(to left, #004e92, #000428)  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden
    .wrapper-section
      padding-top: 30px
      padding-bottom: 30px
      padding-left: 0px
      padding-right: 0px
    .main-title
      font-size: 26px
      color: $color3
      vertical-align: middle
    .secondary-title
      font-size: 18px
      line-height: 22px
      color: $color3
      vertical-align: middle
    p
      font-size: 14px
      color: $color1
      font-weight: 300
    .wrapper-btn
      margin-top: 15px

@media only screen and (min-width: 414px)
  .section-bg
    position: relative
    background: #000428  // fallback for old browsers
    background: -webkit-linear-gradient(to left, #004e92, #000428)  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden
    .wrapper-section
      padding-top: 30px
      padding-bottom: 30px
      padding-left: 10px
      padding-right: 10px
    .main-title
      font-size: 26px
      color: $color3
      vertical-align: middle
    .secondary-title
      font-size: 20px
      line-height: 22px
      color: $color3
      vertical-align: middle
    p
      font-size: 14px
      color: $color1
      font-weight: 300
    .wrapper-btn
      margin-top: 15px

@media only screen and (min-width: 768px)
  .section-bg
    position: relative
    background: #000428  // fallback for old browsers
    background: -webkit-linear-gradient(to left, #004e92, #000428)  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden
    .wrapper-section
      padding-top: 30px
      padding-bottom: 30px
      padding-left: 10px
      padding-right: 10px
    .main-title
      font-size: 26px
      color: $color3
      vertical-align: middle
    .secondary-title
      font-size: 22px
      line-height: 22px
      color: $color3
      vertical-align: middle
    p
      font-size: 14px
      color: $color1
      font-weight: 300
    .wrapper-btn
      margin-top: 15px

@media only screen and (min-width: 1200px)
  .section-bg
    position: relative
    background: #000428  // fallback for old browsers
    background: -webkit-linear-gradient(to left, #004e92, #000428)  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden
    .wrapper-section
      padding-top: 100px
      padding-bottom: 100px
      padding-left: 20px
    .main-title
      font-size: 36px
      color: $color3
      vertical-align: middle
    .secondary-title
      font-size: 20px
      color: $color3
      vertical-align: middle
    p
      font-size: 14px
      color: $color1
      font-weight: 300
    .wrapper-btn
      margin-top: 30px