// section one
@media only screen and (min-width: 320px)
  .section
    margin-top: 20px
    margin-bottom: 20px
    h3
      font-size: 18px
    .img-vertical-middle
      margin-top: 45px
    .wrapper-section
      margin-left: 30px
    .main-title
      font-size: 28px
      color: $color1
    .secondary-title
      font-size: 18px
      color: $color1
    .web, .mobile
      width: 50px
      height: 50px
      margin: 0 auto
      border-radius: 50%
      background: $color8
      i
        vertical-align: middle
        margin-top: 13px
        color: $color3
    .mobile
      background: $color9
    p
      font-size: 12px
      color: $color1
      font-weight: 300

@media only screen and (min-width: 414px)
  .section
    margin-top: 20px
    margin-bottom: 20px
    h3
      font-size: 18px
    .img-vertical-middle
      margin-top: 0
    .wrapper-section
      margin-left: 30px
    .main-title
      font-size: 28px
      color: $color1
    .secondary-title
      font-size: 18px
      color: $color1
    .web, .mobile
      width: 50px
      height: 50px
      margin: 0 auto
      border-radius: 50%
      background: $color8
      i
        vertical-align: middle
        margin-top: 13px
        color: $color3
    .mobile
      background: $color9
    p
      font-size: 12px
      color: $color1
      font-weight: 300

@media only screen and (min-width: 1200px)
  .section
    margin-top: 50px
    margin-bottom: 50px
    .wrapper-section
      margin-left: 30px
    .main-title
      font-size: 36px
      color: $color1
    .secondary-title
      font-size: 20px
      color: $color1
    .web, .mobile
      width: 50px
      height: 50px
      margin: 0 auto
      border-radius: 50%
      background: $color8
      i
        vertical-align: middle
        margin-top: 13px
        color: $color3
    .mobile
      background: $color9
    p
      font-size: 14px
      color: $color1
      font-weight: 300